@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}



main{
    max-width: 75%;
    min-width: 27%;
    min-height: 40%;
    margin: 0 auto;
    padding: 5%;
    background-color: #e0e0e6;
    box-shadow: 0 2px 6px 0 rgba(34 32 36 / 57%);   
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}


main a{
    color: blue;
}

main .separator{
    height: 0;
    border-bottom: 2px solid gray;
}


main .info #profile{
    text-align: left;
    width: 75%;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 20%;
    align-self: self-start;
}

main .disclaimer{
    text-align: center;
    vertical-align: bottom;
}

main .disclaimer a{
    margin: 0;
    color: blue;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #0a0a14;
    }
    main{
        background-color: #151528;
        box-shadow: 0 2px 6px 0 hwb(270 45% 55% / 0.57);     

    }
    main p, h1, h2{
        color: #fff;
    }
    main .disclaimer a{
        color: #5d5dac;
    }
    
    main a{
        color: #5d5dac;
    }
}

@media (max-width: 990px) {
    main{
        width: 80%;
        max-width: 80vw;
        min-height: 70vw;
        
    }
}
