
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

body{
    background-color: #fafafa;

}



main{
    min-width: 26%;
    max-width: 50vw;
    min-height: 15vh;
    margin: 0 auto;
    padding: 5%;
    background-color: #e0e0e6;
    box-shadow: 0 2px 6px 0 rgba(34 32 36 / 57%);   
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}



main .aboutme #profile{
    display: block;
    width: 75%;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 30%;
}

main .aboutme h1{
    text-align: center;
}

main .aboutme a{
    color: blue;
}

main .separator{
    height: 0;
    border-bottom: 2px solid gray;
}

main .socials ul{
    list-style: none;
    padding: 0;
}
main .socials ul li{
    padding: 10px 0;
}
main .socials ul li a{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 4px 1px -3px;
    margin-bottom: 7px;
    
}

main .socials ul li a span{
    height: 20px;
    margin-top: 10px;
    font-weight: bold;
}
main .disclaimer{
    text-align: center;
}
main .disclaimer a{
    margin: 0;
    color: blue;
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #0a0a14;
    }
    main{
        background-color: #151528;
        box-shadow: 0 2px 6px 0 hwb(270 45% 55% / 0.57);     

    }
    main p, h1, h2{
        color: #fff;
    }
    main .disclaimer a{
        color: #5d5dac;
    }
    
    main .aboutme a{
        color: #5d5dac;
    }
}

@media (max-width: 990px) {
    main{
        width: 80%;
        max-width: 80vw;
        min-height: 70vw;
        
    }
}
#github{
    background-color: #89929b;
}
#twitter{
    background-color: #1da1f2;
}
#bluesky {
    background-color: #1185fe;
  }
#mastodon{
    background-color: rgb(102, 97, 97);
}
#resume{
    background-color: #0077b5;
}
